
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản Thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822040788</td>
                    <td>Lê Hồng Sơn</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1822040931</td>
                    <td>Phạm Thanh Tùng</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1822040...</td>
                    <td>Nguyễn Thị Khánh Vân</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Pham Thanh Tung - @DateTime.Now.Year</p>
</footer>

