
@{
    ViewData["Title"] = "Index";
}

<body>
    <div>
        <div class="header">
            <h1>Bài Tập</h1>
        </div>
        <div class="ctn1">
            <div class="left">
                <p>Họ tên: @ViewBag.HoTen</p>
                <p>MSSV: @ViewBag.MSSV</p>
            </div>
            <div class="main">
                <a href="~/Tuan2/Profile">
                    <img src="~/img/Anh.jpg" style="width:100px; height: 100px" class="image">
                </a>
                <p>Giới Thiệu Bản Thân</p>
            </div>

        </div>

        <footer class="footer">
            <p>Copyright &copy; @ViewBag.HoTen - @ViewData["Nam"] </p>
        </footer>
    </div>
</body>

