@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        var bangCuuChuong = new List<string>();
        for (int i = 1; i <= 9; i++)
        {
            for (int j = 1; j <= 10; j++)
            {
                bangCuuChuong.Add($"{i} * {j} = {i * j}");
            }
            bangCuuChuong.Add("");
        }
    }
    <div class="bangCuuChuong">
        <h2 style="color: red">
            Bảng Cửu Chương
        </h2>
        <ul>
            @foreach (var line in bangCuuChuong)
            {
                <li>@line</li>
            }
        </ul>
    </div>
</div>
